<head>
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
  />
</head>
{% block title %}Pokój czatu dla "{{ ticket.title }}"{% endblock %} {% block
extra_js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %} {% block content %}
<div id="chat">
  <div id="notifications"></div>
</div>
<div id="chat-input">
  <input id="chat-message-input" type="text" />
  <input id="chat-message-submit" type="submit" value="Prześlij" />
  <p>
    <a
      href="{% url 'helpdeskapp:ticket_detail' ticket.slug %}"
      class="btn btn-primary"
      >Powrót do ticketa</a
    >
  </p>
</div>
{% endblock %} {% block domready %}
<script>
  var url = "ws://" + window.location.host + "/ticket/detail/{{ slug }}/chat/";
  var chatSocket = new WebSocket(url);

  chatSocket.onmessage = function (e) {
    var data = JSON.parse(e.data);
    var message = data["message"];
    console.log("Message user: ", data["user"]);
    var dateOptions = { hour: "numeric ", minute: "numeric ", hour12: true };
    var datetime = new Date(data["datetime"]).toLocaleString(
      "pl-PL",
      "en",
      dateOptions
    );
    var isMe = data["user"] === "{{ user.username }}";
    var source = isMe ? "Ja" : "On";
    var name = isMe ? "Ja" : data["user"];
    console.log("Logged in user: ", "{{ user.username }}");
    var $chat = $("#chat");
    $chat.append(
      '<div class="message ' +
        source +
        '">' +
        "<strong>" +
        name +
        "</strong> " +
        '<span class="date">' +
        datetime +
        "</span><br>" +
        message +
        "</div>"
    );
    $chat.scrollTop($chat[0].scrollHeight);

    //Zapisanie powiadomienia w localStorage
    var ticketId = "{{ ticket.slug }}";
    var notifications =
      JSON.parse(localStorage.getItem("notifications_" + ticketId)) || [];
    notifications.push({
      message: message,
      user: isMe ? "Ja" : data["user"], // Zapisz 'Ja' zamiast nicku, jeśli to Ty wysłałeś wiadomość
      datetime: datetime,
    });
    console.log("Notifications: ", notifications);
    localStorage.setItem(
      "notifications_" + ticketId,
      JSON.stringify(notifications)
    );
  };

  // Po załadowniu strony wyświetl powiadomienia z localStorage
  $(document).ready(function () {
    //Pobranie powiadomień z localStorage
    var ticketId = "{{ ticket.slug }}";
    var notifications =
      JSON.parse(localStorage.getItem("notifications_" + ticketId)) || [];
    //Wyświetlenie powiadomień
    var $notifications = $("#notifications");
    notifications.forEach(function (notification) {
      var $notification = $(
        '<div class="notification">' +
          "<strong>" +
          notification.user +
          "</strong> " +
          '<span class="date">' +
          notification.datetime +
          "</span><br>" +
          notification.message +
          "</div>"
      );
      $notifications.append($notification);
    });
  });
  chatSocket.onclose = function (e) {
    console.error("Nastąpiło nieoczekiwane zamknięcie gniazda czatu");
  };
  var $input = $("#chat-message-input");
  var $submit = $("#chat-message-submit");

  $submit.click(function () {
    var message = $input.val();
    if (message) {
      chatSocket.send(
        JSON.stringify({
          message: message,
        })
      );

      $input.val("");

      $input.focus();
    }
  });
  $input.focus();
  $input.keyup(function (e) {
    if (e.keyCode === 13) {
      $submit.click();
    }
  });
</script>
{% endblock %}
