body {
    font-family: 'Helvetica Neue', sans-serif;
    align-items: center;
    justify-content: center;
    background-color: #424040;
    color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.18);
    box-sizing: border-box;
}


.card{
    padding: 20px;
    width: 400px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    margin: 20px;
    margin-top:20%;
    color: #fff;
    transition: background-color 0.3s ease;
}

.card:hover{
    background-color: rgba(255, 255, 255, 0.18);
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.user {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.alertsuccess{
    background-color: #405840;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.alertsuccess:hover{
    background-color: #3d6a3d;
}
.card{
    padding: 20px;
    width: 400px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    margin: 20px;
    color: #fff;
}
.card:hover{
    background-color: rgba(255, 255, 255, 0.18);
}
a{
    text-decoration: none;
}

.right{
    margin-left: 65%;
}

p.add {
    text-align: center; /* Center the text */
}

p.add a {
    display: inline-block; /* Needed for centering inline elements */
    padding: 10px 5px;
    text-decoration: none;
    color: #fff;
    background-color: #4CAF50;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Add transition for transform */
    font-size: 1em; /* Increase the font size */
}

p.add a:hover {
    background-color: #45a049;
    transform: scale(1.05); /* Make the link slightly larger when hovered */
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.user {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}
.alertsuccess{
    background-color: #405840;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}
.alertsuccess:hover{
    background-color: #3d6a3d;
}
