{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <title>{% block title %} {% endblock %}</title>
    <link href="{% static 'helpdeskapp/main.css' %}" rel="stylesheet">
</head>
<body>
    <header>
        <div class="left">
            <h1>Witaj w systemie Tickety</h1>
            {% for message in messages %}
                <div class="alertsuccess">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        <div class="right">
            <span class = "user">
                {%if request.user.is_authenticated%}
                    Witaj {{request.user.username}}! 
                    <a href="{% url 'helpdeskapp:logout' %}">Wyloguj</a>
                {%else%}
                    <a href="{% url 'helpdeskapp:login' %}">Zaloguj</a>
                {%endif%}
            </span>
        </div>
    </header>

    {%if request.user.is_authenticated%}
    
    <div class="container">
        <div class="content">
            {% block content %} 
                
            {% endblock %}
        </div>
    </div>
    {%endif%}
    
</body>