{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <title>{% block title %} {% endblock %}</title>
    <link href="{% static 'helpdeskapp/static/style.css' %}" rel="stylesheet">
</head>
<body>
    {%if request.user.is_authenticated%}
    <span class = "user">
        {%if request.user.is_authenticated%}
            Witaj {{request.user.username}}!
            <br>
            Użytkownik: {{request.user.groups.all.0}}
            <a href="{% url 'helpdeskapp:logout' %}">Wyloguj</a>
        {%else%}
            <a href="{% url 'helpdeskapp:login' %}">Zaloguj</a>
        {%endif%}
    </span>
    <div class="container">
        <div class="header">
            <h1>Helpdesk (base.html)</h1>
            <a href="{% url 'helpdeskapp:ticket_add' %}">Stwórz nowe zgłoszenie</a>
        </div>
        <div class="content">
            {% block content %} 
                
            {% endblock %}
        </div>
        <div class="footer">
            <p>Helpdesk (footer base.html)</p>
            
        </div>
    </div>
    {%endif%}
    
</body>