{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <title>{% block title %} {% endblock %}</title>
    <link href="{% static 'helpdeskapp/static/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    {%if request.user.is_authenticated%}
    <span class = "user">
        {%if request.user.is_authenticated%}
            Witaj {{request.user.username}}!
            <br>
            Użytkownik: {{request.user.groups.all.0}}
            <a href="{% url 'helpdeskapp:logout' %}">Wyloguj</a>
        {%else%}
            <a href="{% url 'helpdeskapp:login' %}">Zaloguj</a>
        {%endif%}
    </span>
    <div class="container">
        <div class="content">
            {% block content %} 
                
            {% endblock %}
        </div>
    </div>
    {%endif%}
    
</body>