{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <title>{% block title %} {% endblock %}</title>
    <link href="{% static 'helpdeskapp/static/style.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>To jest główne menu strony</h1>
        </div>
        <div class="content">
            {% block content %}
             <a href="{%url 'helpdeskapp:login' %}"><h2>zaloguj się</h2></a><br>lub
             <a href="{%url 'helpdeskapp:register'%}"><h2>stwórz nowe konto</h2></a><br>
            {% endblock %}
        </div>
        <div class="footer">
            <p>footer głównej strony</p>
        </div>
    </div>
</body>