{%load static %}
<DOCTYPE html>
<head>
    <link href="{% static 'helpdeskapp/detail.css' %}" rel="stylesheet">
</head>
<body>

    {% for message in messages %}
        <div class="alertwarning">
            {{ message }}
        </div>
    {% endfor %}

{% block content %}
<div class="container">
    <div class="help-card">
        <h1>Tytuł: {{ticket.title}}</h1>
        <p>Opis: {{ticket.description}}</p>
        <p>status: {{ticket.status}}</p> 
        <p>prioritet: {{ticket.priority}}</p>
        <p>rodzaj problemu: {{ticket.request_type}}</p>
        <p>stworzono przez: {{ticket.created_by}}</p>
        <p>Stworzono ticket: {{ticket.created_at}}</p>
        <p>Zaktualizowano: {{ticket.updated_at}}</p>
        <p>Przypisany do: {{ticket.assigned_to}}</p>
        <div class="a_other">
        <p><a href="{% url 'helpdeskapp:assigned_to' ticket.slug %}" >Przypisz do mnie</a></p>
        <p><a href = "{% url 'helpdeskapp:ticket_list' %}" >Powrót do listy ticketów</a></p>
        <p><a href="{% url 'helpdeskapp:ticket_edit' ticket.slug %}" >Edytuj ticket</a></p>
        <p><a href="{% url 'chat:chat_room' ticket.slug %}" >Przejdź do czatu</a></p>
        </div>  
        <p class="usun"><a href="{% url 'helpdeskapp:ticket_delete' ticket.slug %}" class = "usun">Usuń ticket</a></p>
        
    </div>
    

</div>
{% endblock %}
</body>