{% extends "helpdeskapp/base.html" %}

{%block title%} {{ticket.title}} {%endblock%}

{% block content %}
{% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
{% endfor %}
    <h1>tytuł: {{ticket.title}}</h1>
    <p>Opis: {{ticket.description}}</p>
    <p>status: {{ticket.status}}</p> 
    <p>prioritet: {{ticket.priority}}</p>
    <p>rodzaj problemu: {{ticket.request_type}}</p>
    <p>stworzono przez: {{ticket.created_by}}</p>
    <p>Stworzono ticket: {{ticket.created_at}}</p>
    <p>Zaktualizowano: {{ticket.updated_at}}</p>
    <p>Przypisany do: {{ticket.assigned_to}}</p>
    <p /><a href="{% url 'helpdeskapp:assigned_to' ticket.slug %}" class="btn btn-primary">Przypisz do mnie</a>
    <p /><a href = "{% url 'helpdeskapp:ticket_list' %}" class = "btn btn-primary">Powrót do listy ticketów</a>
    <p><a href="{% url 'helpdeskapp:ticket_edit' ticket.slug %}" class = "btn btn-primary" >Edytuj ticket</a></p>
    <p><a href="{% url 'helpdeskapp:ticket_delete' ticket.slug %}" class = "btn btn-primary">Usuń ticket</a></p>
{% endblock %}