{% extends "helpdeskapp/base.html" %}
{%block title%} Tickety {%endblock%}
{% block content %}
{%load static%}
<head>
    <link href="{% static 'helpdeskapp/main.css' %}" rel="stylesheet">
</head>
<a href="{% url 'helpdeskapp:ticket_add' %}" class = "add">Stwórz nowe zgłoszenie</a>

<div class="tickets">
    <div class="container">
        {% for ticket in tickets%}
        <a href="{{ticket.get_absolute_url}}">
        <div class="card">

            <h2>Tytuł:{{ticket.title}}</h2>
            <p>prioritet: {{ticket.priority}}</p>
            <p>rodzaj problemu: {{ticket.request_type}}</p>
            <p>Stworzono przez: {{ticket.created_by}}</p>
            <p>Stworzono ticket: {{ticket.created_at}}</p>

        </div>
        </a>
        {%endfor%}
    </div>
    {%include "helpdeskapp/pagination.html" with page=tickets %}
</div>
{% endblock %}