{% extends "helpdeskapp/base.html" %}

{%block title%} Tickety {%endblock%}

{% block content %}
    <h1>Tickety</h1>
    <p>Witaj w systemie Tickety</p>
    {% for ticket in tickets%}
        <h2><a href="{{ticket.get_absolute_url}}">Tytuł:{{ticket.title}}</h2></a>
        <p>status:{{ticket.status}}</p>
         <p>prioritet: {{ticket.priority}}</p>
        <p>rodzaj problemu: {{ticket.request_type}}</p>
        <p>Stworzono przez: {{ticket.created_by}}</p>
        <p>Stworzono ticket: {{ticket.created_at}}</p>
    {%endfor%}
    {%include "helpdeskapp/pagination.html" with page=page_obj %}
{% endblock %}