
{% load static %}
<head>
    <link href="{% static 'helpdeskapp/ticket_interaction.css' %}" rel="stylesheet">
</head>

<div class="container">
    <div class="left-side">
        <h2>{% block title %} dodaj zgłoszenie {% endblock %}</h2>
    </div>

        {% block content %}
        {% if sent %}
            <h1> Zgłoszenie zostało dodane</h1>
        {% else %}
            <form method="post">
                {% csrf_token %}
                <div class="help-card">
                    {{ form.as_p }}
                </div>
                <input type="submit" value="Dodaj zgłoszenie" class="submit">
            </form>
        {% endif %}
        {% endblock %}
    </div>
</div>
